.header {
	box-sizing: border-box;
	display: flex;
	margin: 0;
	vertical-align: middle;
    background-color: white;
    border: 5px solid black;
    box-sizing: content-box;
    color: black;
    padding: 0;
    text-align: start;
    top: 0;
    width: 100%;
	
		h1 {
			margin: 10px;
		}
}

