.sidebar {
	position: fixed;
	background-color: black;
	
	ul {
		padding: 0;
    width: 200px;
	color: white;
	margin: 0;
	
		a {
			color: white;
		}

		.mat-icon {
			font-size: 50px;
			height: auto;
			width: auto;
		  }
	}
}

	li {
		display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	height: 100px !important;
	margin: 5px 0;
	font-size: 16px !important;
	cursor: pointer;
	outline: none;
	}
	
	li.active {
		background-color: #e05c22 !important;
	}
	li a:hover {
		color: white !important;
	}
	
	li:hover {
		background-color: #b65f3a;
	}
