<div class='sidebar'>
	<ul>
		<li routerLink='/general' routerLinkActive='active'>
			<mat-icon aria-hidden="false" aria-label="Example home icon">folder_open</mat-icon>
			<a >General</a></li>
		<li routerLink='/items' routerLinkActive='active'>
			<mat-icon aria-hidden="false" aria-label="Example home icon">emoji_flags</mat-icon>
			<a>Items</a>
		</li>
		<li routerLink='/deals' routerLinkActive='active'>
			<mat-icon aria-hidden="false" aria-label="Example home icon">local_offer</mat-icon>
			<a>Deals</a>
		</li>
		<li routerLink='/customers' routerLinkActive='active'>
			<mat-icon aria-hidden="false" aria-label="Example home icon">supervisor_account</mat-icon>
			<a>Customers</a>
		</li>
	</ul>
</div>
